$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1300px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$font: "Roboto", "Open Sans", "Helvetica Neue", sans-serif;

$main-bg: #ffffff;
$other-bg: #f2f2f2;

$main-text-color: #000000;
